
  @font-face {
    font-family: 'SVN-Chicken Noodle Soup Regular';
    src: url('SVN-Chicken\ Noodle\ Soup.otf') format('woff'), /* Modern Browsers */
         url('SVN-Chicken\ Noodle\ Soup.otf') format('truetype'); /* Legacy Browsers */
}  

body {
    font-family: 'SVN-Chicken Noodle Soup Regular', monospace;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

section {
    max-width: 100%;
}
  .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s ease-in-out;
    position: relative;
}

.w3-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.w3-display-left {
    left: 0;
}

.w3-display-right {
    right: 0;
}

.cover img {
    width: 100%;
    transition: transform 1s ease-in-out; /* Add a smooth transition effect */
}

.about-banner {
    background-color: rgb(255, 152, 221);
    color: white;
    padding: 5px;
}

.welcome-banner {
    /* background-color: rgb(255, 152, 221); */
    color: white;
    padding: 5px;
}

.welcome-box {
    background-color: rgb(173, 17, 10);
    padding-bottom: 8px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s, transform 2s;
  }

.fade-in-p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s, transform 0.8s;
  }

.visible {
    opacity: 1;
    transform: translateY(0);
  }

.welcome p {
    text-align: center;
    line-height: 1.2;
    color: #ffffff;
  }
  

.our-service-banner {
    background-color: rgb(255, 152, 221);
    color: white;
    padding: 5px;
}

.welcome-h2 {
    background-color: #ff6200;
}

h2 {
    font-size: 8vh;
    text-align: center;
    color: #ffffff;
    margin: 0px;
}

p {
    font-size: 4vh;
    text-align: center;
    line-height: 1.2;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.collection-h2{
    background-color: #134019;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.service {
    width: calc(30% - 20px);
    margin: 10px;
    text-align: center;
    padding: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    /* background-color: #f9f9f9; */
    display: flex;
    flex-direction: column;
}

.service img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.service:hover img {
    transform: scale(1.1);
}

.service h3 {
    color: #333;
    margin-bottom: -10px;
}

.service p {
    color: #666;
}

.service .description {
    max-height: 60px;
}

.about {
    margin-top: 20px;
}

.promotion {
    background-color: rgb(201, 25, 255);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
}

.order {
    justify-content: center;
    background-color: #043105;
    text-align: center;
    padding-bottom: 20px;
}
.order h2{
        font-size: 8vh;
        text-align: center;
        color: #ffffff;
        margin: 0px;
}

.order-img{
    justify-content: center;
    display: block;
    margin: 0;
}

.order-img img{
    max-width: 50%;
}

button{

    background: rgb(255, 255, 255);
    border: 0;
    border-radius: 30px;
    color: rgb(173, 17, 10);
    cursor: pointer;
    display: inline-block;
    font-family: 'SVN-Chicken Noodle Soup Regular';
    font-size: 6vh;
    font-weight: bold;
    line-height: 1.5;
    outline: transparent;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.order button:hover {
    background-color: rgb(173, 17, 10); 
    color: #ffffff;
}

.footer {
    background: rgb(173, 17, 10);
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.footer-brand {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;
}

.logo img{
    width:20%;
}

.logo {
    min-width: 40px;
    margin-top: -20px;
}

.social-links {
    margin-top: 20px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

.branch {
    margin: 10px;
    max-width: 21%;
    max-height: fit-content;
    text-align: start;
}

.branch h3 {
    text-align: left;
    color: white;
}

.branch-container {
    display: flex;
}

.footer-title {
    text-align: center;
    margin-top: 5px;

    color: white;
    font-size: 300%;
}

.footer-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-button {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hotline {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.hotline {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.hotline:not([disabled]):hover {
    opacity: 0.8;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
